body {

}

header{
    background-color: #ffe4dc;
    width: 100%;
}

#logo{
   width: 10%;
}

.informacao{
    text-align: left;
    display: flex;
    gap: 40px;
    font-size: 20px;
    background: #d8a585;
    font-family: "Open Sans", sans-serif;
    padding: 0 90px;

}


a{
    margin: 0 40px;
    background-color: #d8a585;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}

#pdtbase{
    margin:0 20em;
}

#pdtblush{
    margin:0 60em;
}

